<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'layout_generator/css/form-styles.css' %}" type="text/css">

    <title>Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Space Management - HackMTY</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <span class="nav-title">Space Management App</span>
        </a>
    </nav>
    <section class="central-container">
        <div class="sec-one">
            <p class="ut-1">Here you go, use the options bellow to edit it</p>

            <div>
                {% for key, value in matrix_dict.items %}
                    {% if value == 0 %}
                        <button id={{key}}  onclick="changeStyle(this.id)" style="width: 30px !important; height: 30px !important; margin-right: 10px; margin-bottom: 5px;" type="button" class="btn btn-warning"></button>
                    {% elif value == 1 %}
                        <button id={{key}}  onclick="changeStyle(this.id)" style="width: 30px !important; height: 30px !important; margin-right: 10px; margin-bottom: 5px;" type="button" class="btn btn-danger"></button>
                    {% elif value == 5 %}
                        <button id={{key}}  onclick="changeStyle(this.id)" style="width: 30px !important; height: 30px !important; margin-right: 10px; margin-bottom: 5px;" type="button" class="btn btn-primary"></button>
                    {% endif %}
            
                    {% if forloop.counter|divisibleby:columns %}
                    <br>
                    {% endif %}
            
                {% endfor %}
            </div>

            <input type="radio" id="damaged" name="gender" value="male">
            <label for="male">Mark damaged or non functional</label><br>
            <input type="radio" id="preferential" name="gender" value="female">
            <label for="female">Mark as a preferential seat</label><br>

            <button onclick="setSpecialSeats()" type="button" class="btn btn-dark">Set special seats</button>

        </div>
        <div class="sec-two">
            <div class="form">
                <p>
                    Our algorithm works on the specific measures of your vehicle model, to generate a safe, inclusive and effective space distribution plan.
                </p>
            </div>
            <img class="svg-banner" src="{% static 'layout_generator/images/form-banner.svg' %}" alt="City Banner Illustration">
            <form action="http://127.0.0.1:8000/calculated_layout" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                        Rows
                        </label>
                        <input value={{form_rows}} name="rows" id="rows" type="number" required autocomplete="off" />
                    </div>
                
                    <div class="field-wrap">
                        <label>
                        Seats per row
                        </label>
                        <input value={{form_columns}} name="seats" id="seats" type="number"required autocomplete="off"/>
                    </div>
                    </div>
        
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                            P. Distance (cm)
                            </label>
                            <input value={{form_distance}} name="distance" id="distance" type="number"required autocomplete="off"/>
                        </div>
                        <div class="field-wrap">
                            <label>
                            Quota (%)
                            </label>
                            <input id="quota" type="number"required autocomplete="off"/>
                        </div>
                    </div>

                    <div class="top-row">
                        <div class="field-wrap">
                            <input name="hashmap" id="hashmap" required autocomplete="off"/>
                        </div>
                    </div>
    
                    <button class="button button-block">Send</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        function changeStyle(id){
            document.getElementById(id).className = '';
            document.getElementById(id).classList.add('btn');

            if (document.getElementById('damaged').checked){
                document.getElementById(id).classList.add('btn-danger');
            } else if (document.getElementById('preferential').checked){
                document.getElementById(id).classList.add('btn-success');
            } 
        }

        function setSpecialSeats() {
            var inputs = document.getElementsByClassName('btn-danger');

            var arrDamaged = [];

            for (var i=0; i< inputs.length; i++ ) {

                var spaces_for_row = ({{form_columns}} * 2) + 1;
                
                var coordinate1 = (inputs[i].id)/spaces_for_row

                

                if (Number.isInteger(coordinate1)){
                    coordinate1 = coordinate1 - 1;
                } else {
                    coordinate1 = Math.floor(coordinate1)
                }

                

                coordinate2 = (inputs[i].id)

                while (true){
                    if (coordinate2 > 5){
                        coordinate2 = coordinate2 - 5
                    } else if (coordinate2 == 5){
                        coordinate2 = coordinate2 - 1;
                        break;
                    } else if (coordinate2 < 5) {
                        coordinate2 = coordinate2 - 1;
                        break;
                    }
                } 

                console.log('CoordinateY ' + coordinate1 + ' CoordinateX ' + coordinate2 + ' ID ' + (inputs[i].id))
                arrDamaged.push(coordinate1,coordinate2)
                           
            }

            console.log(arrDamaged); 

            var damagedCoordinates = arrDamaged.toString();
            var dict = {};  
            dict['damaged'] = damagedCoordinates;



            var inputs = document.getElementsByClassName('btn-success');

            var arrDamaged = [];
            
            for (var i=0; i< inputs.length; i++ ) {

            var spaces_for_row = ({{form_columns}} * 2) + 1;

            var coordinate1 = (inputs[i].id)/spaces_for_row



            if (Number.isInteger(coordinate1)){
                coordinate1 = coordinate1 - 1;
            } else {
                coordinate1 = Math.floor(coordinate1)
            }



            coordinate2 = (inputs[i].id)

            while (true){
                if (coordinate2 > 5){
                    coordinate2 = coordinate2 - 5
                } else if (coordinate2 == 5){
                    coordinate2 = coordinate2 - 1;
                    break;
                } else if (coordinate2 < 5) {
                    coordinate2 = coordinate2 - 1;
                    break;
                }
            } 

            console.log('CoordinateY ' + coordinate1 + ' CoordinateX ' + coordinate2 + ' ID ' + (inputs[i].id))
            arrDamaged.push(coordinate1,coordinate2)
                    
            }

            console.log(arrDamaged); 

            var damagedCoordinates = arrDamaged.toString();

            dict['special'] = damagedCoordinates;
            console.log(dict); 

            document.getElementById("hashmap").value = ('{"Unavailable_seats":[' + dict.damaged + '],"Handicap_seats":[' + dict.special + "]}" );

        }
    </script>
</body>
</html>



